.note-form {
    margin: 2rem auto 3rem;
    max-width: 50rem;
    padding: 0 1rem;
}

.textarea {
    min-width: 100%;
    height: 3.3rem;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    font-family: inherit;
    color: inherit;
    transition-duration: .4s;
    transition-delay: .1s;
    margin-top: .4rem;
    margin-bottom: -1.2rem;
    resize: none;
}

.textarea::placeholder {
    opacity: 0.5;
}

.textarea:focus {
    outline: none;
    height: 10rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

label {
    font-weight: 700;
    padding-left: .8rem;
}