@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #5f6368;
  background-color: #f1f1ee;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}